p{
    color: gray;
}
.container{
    margin-bottom: 100px;
}
.logo-image{
    width: 200px;
}
.carousel-bg{
    background-image: url(images/hot-gadgets/bg-2.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.carousel-inner{
    background-image: url(images/hot-gadgets/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}
.carousel-indicators li{
    height: 7px;
    width: 20px;
    background-color: gray;
}
.carousel-indicators li.active{
    width: 50px;
    background-image: linear-gradient(to right, #eabb0ff5, orange);
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    padding: 10px 40px;
}
.categories{
    margin-bottom: 50px;
}
.cat-section-one{
    border: 1px solid white;
    box-shadow: 5px 5px 20px lightgrey;
    padding: 50px;
    border-bottom-left-radius: 2rem;
}
.cat-section-two{
    border: 1px solid white;
    box-shadow: 5px 5px 20px lightgrey;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom-right-radius: 2rem;
}
.cat-section-three{
    border: 1px solid white;
    box-shadow: 5px 5px 20px lightgrey;
    padding: 50px;
    margin-bottom: 30px;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
}
.cat-section-four img{
    width: 100%;
}